.nav-link.user{
    background: lightblue;
    border-radius: 50rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-pink{
    color: #e83e8c;
}