.map-view{
    position: relative;
    width: 100%;
}

.pins .pin{
    cursor: pointer;
    color: white;
    position: absolute;
    transform: translate(-50%,50%);
}

#savannah-region{
    top: 120px;
    left: 300px;
}

#northern{
    top: 90px;
    left: 380px;
}

#north-east{
    top: 70px;
    left: 320px;
}

#bond-east{
    top: 190px;
    left: 400px;
}